{% extends '../layout.html' %}

{% block title %}所有主题 | {{ member['name'] }} | {% end %}

{% block content %}
<div class="box">
    <header>主题</header>
    {% for topic in topics %}
        {% set author = handler.get_user(topic['author']) %}
        <div class="list">
            {% set reply_nums = handler.db.replies.find({'topic': str(topic['_id'])}).count() %}
            {% set last_page = handler.get_page_num(reply_nums, 20) %}
            {% raw handler.get_avatar(author) %}
            <div class="list-content">
                <p>
                    <a href="/topic/{{ topic['_id'] }}?p={{ last_page }}">{{ topic['title'] }}</a>
                    <a href="/topic/{{ topic['_id'] }}?p={{ last_page }}#reply{{ reply_nums }}" class="badge
                    {% if current_user and current_user['name_lower'] not in topic.get('read', []) %}badge-success{%end%}
                     pull-right">{{ reply_nums }}</a>
                </p>
                <p>
                    由
                    <a href="/member/{{ author['name'] }}">{{ author['name'] }}</a> 发表 |
                    {% if 'last_reply_by' in topic %}
                    由 <a href="/member/{{ topic['last_reply_by'] }}">{{ topic['last_reply_by'] }}</a>
                    回复于 {% raw handler.format_time(topic['last_reply_time']) %} |
                    {% end %}
                    位于 <a href="/node/{{ topic['node'] }}">{{ handler.get_node(topic['node'])['title'] }}</a> 节点
                </p>
            </div>
        </div>
    {% end %}
    {% set base_url = "/member/%s/topics" % member['name'] %}
    <ul class="pager">
    {% if p > 1 %}
    <li class="previous">
        <a href="{{ base_url }}?p={{p-1}}">&lt;&lt; 上一页</a>
    </li>
    {% end %}
    {% if p*10 < topics_count %}
    <li class="next">
        <a href="{{ base_url }}?p={{p+1}}">下一页 &gt;&gt;</a>
    </li>
    {% end %}
    </ul>
</div>
{% end %}