.reply-content,#notification_list .well,.list-content,#current_base p,.author_box p {
	margin-left:61px;
}
a {
	color:#08c;
	text-decoration:none;
}
.avatar {
	float:left;
	margin-left:5px;
	margin-right:8px;
}
.avatar img {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	width:48px;
	height:48px;
}
body {
	background-color:#EEE;
}
#main {
	margin-top:25px;
}
.box {
	background-color:white;
	border-radius:3px;
	margin-bottom:20px;
	box-shadow:0px 0px 0px 1px #DDD;
	overflow:hidden;
	padding:14px;
	border-bottom:2px solid #e2e2e9;
	word-break:break-all;
}
.box header {
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px solid #DDD;
	font-weight:bold;
	font-size:20px;
}
.box article {
}
.box footer {
	margin-top:10px;
	padding-top:10px;
	border-top:1px solid #DDD;
}
.box img {
	max-width:100%;
}
.node {
    display:inline-block;
    line-height:20px;
    color:#fff;
    font-weight:bold;
    padding:1px 4px;
    background-color:#BFBFBF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-size:15px
}
.node a {
    color:#000
}
.node a:hover {
    text-decoration:none;
    color:#000
}
.node:hover {
    color:#fff
}
.username {
    font-weight:bold;
    font-size:15px
}
.username a {
    color:#000
}
.username a:hover {
    text-decoration:none;
    color:#000
}
.list {
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #DDD;
}
#footer {
	border-top:1px solid #DDD;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}
.reply-content,#notification_list .well,.list-content,#current_base p,.author_box p {
	margin-left:61px;
}
#current_base {
	min-height:48px
}
#current_sidebar a {
	color:#000
}
#current_sidebar a:hover {
	text-decoration:none;
	color:#000
}
#current_info {
	margin-top:10px;
	text-align:center
}
#current_info td {
	width:33%
}
#current_info .liked {
	width:34%;
	border-left:1px solid rgba(100,100,100,0.4);
	border-right:1px solid rgba(100,100,100,0.4)
}
#current_info p {
	margin-top:3px
}
#current_info span {
	font-size:16px
}
#notification_list .right {
	margin-top:8px;
	font-weight:normal;
	font-size:17px
}
.floor {
    position:relative;
    top:-55px
}
#followed_list .avatar img {
	width:24px;
	height:24px
}
#footer {
	border-top:1px solid #DDD;
	margin-top:10px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center
}
.subtle {
    background-color: #fffff9;
    border-left: 3px solid #fffbc1;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}
#members-list .avatar {
    margin-bottom:5px
}
#profile_main {
    height:72px;
    font-size:15px
}
#profile_main .avatar img {
    width:72px;
    height:72px
}
#profile_main .username {
    font-size:20px
}
.badge-success{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    background-color:#5cb85c;
}