{% extends '../layout.html' %}

{% block title %}节点 | {% end %}

{% block nav %}
<li><a href="/topic">主题</a></li>
<li class="active"><a href="/node">节点</a></li>
<li><a href="/member">成员</a></li>
{% end %}

{% block content %}
<div class="box">
    <header>所有节点</header>
    {% for node in handler.db.nodes.find() %}
    <div class="list">
        <p><a href="/node/{{ node['name'] }}" class="node">{{ node['title'] }}</a></p>
        <p>{{ node['description'] }}</p>
    </div>
    {% end %}
</div>
{% end %}

{% block sidebar %}
{% if handler.check_role(return_bool=True) %}
<div class="box">
    <header>仪表盘</header>
    <a href="/node/add" class="btn btn-warning">添加节点</a>
</div>
{% end %}
{% end %}