<!DOCTYPE html>
<html lang="zh-cn">
<head>
    {% if handler.get_current_user() %}
    {% set noticount = handler.db.notifications.find({'to': handler.get_current_user()['name_lower'],'read': False}).count() %}
    {% else %}
    {% set noticount = 0 %}
    {% end %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% end %}{{ handler.settings['site_name'] }}{% if noticount %}({{ noticount }}){% end %}</title>
    <link href="{{ static_url('css/style.css') }}" rel="stylesheet">
    <link href="http://collegestatic.qiniudn.com/bootstrap.min.css" rel="stylesheet">
    {% block head %}{% end %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">{{ handler.settings['site_name'] }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/topic">主题</a></li>
                <li><a href="">节点</a></li>
                <li><a href="">成员</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not handler.get_current_user() %}
                <li><a href="/account/signup">注册</a></li>
                <li><a href="/account/signin">登录</a></li>
                {% else %}
                <li><a href="/topic/new">发表主题</a></li>
                <li><a href="/account/signout?user={{ handler.get_current_user()['name'] }}">登出</a></li>
                {% end %}
            </ul>
        </div>
    </div>
</div>
<div id="main">
    <div class="container">
        {% block body %}
        <div class="row">
            <div class="col-md-12">
                {% for type, msg in handler.get_message() %}
                <div class="alert alert-{{ type }}" role="alert">{{ msg }}</div>
                {% end %}
            </div>
            <div class="col-md-8">
                {% block content %}{% end %}
            </div>
            <div class="col-md-4">
                {% if handler.get_current_user() %}
                <div class="box" id="current_sidebar">
                    <div id="current_base">
                        {% raw handler.get_avatar(current_user) %}
                        <p><a href="/member/{{ current_user['name'] }}" class="username">{{ current_user['name'] }}</a></p>
                        {% if current_user['website'] %}
                        <p><a href="{{ current_user['website'] }}" rel="nofollow">{{ current_user['website'] }}</a></p>
                        {% end %}
                    </div>
                    <footer>
                        <a href="/account/notifications">
                            {{ handler.db.notifications.find({'to': current_user['name_lower'],'read': False}).count() }} 条未读通知
                        </a>
                    </footer>
                </div>
                {% end %}
                {% block sidebar %}{% end %}
                <div class="box">
                    <header>站点统计</header>
                    <ul>
                        <li>成员数: {{ handler.db.users.count() }}</li>
                        <li>节点数: {{ handler.db.nodes.count() }}</li>
                        <li>主题数: {{ handler.db.topics.count() }}</li>
                        <li>回复数: {{ handler.db.replies.count() }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12" id="footer">
                Powered by <a href="https://github.com/JmPotato/College">College</a>
                <span>&bull;</span>
                Made by <a href="http://ipotato.me">JmPotato</a>
            </div>
        </div>
        {% end %}
    </div>
</div>
</body>
</html>
