{% extends '../layout.html' %}

{% block title %}补充主题 | {% end %}

{% block content %}
<div class="box">
    <header>补充内容</header>
    <form class="form-horizontal" role="form" method="post" action="#">
        <fieldset>
        {% raw xsrf_form_html() %}
            <div class="form-group">
                <div class="col-md-12">
                    <textarea class="form-control" rows="10" id="content" name="content" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">发布</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="box">
    <header>关于补充信息</header>
    <article>
        <ul>
            <li>请在确有必要的情况下再使用此功能为原主题补充信息</li>
        </ul>
    </article>
</div>
{% end %}
