{% extends '../layout.html' %}

{% block title %}最近更新 | {% end %}

{% block content %}
<div class="box">
    <header>主题</header>
    {% for topic in topics %}
        {% set author = handler.get_user(topic['author']) %}
        <div class="list">
            {% set reply_nums = handler.db.replies.find({'topic': str(topic['_id'])}).count() %}
            {% set last_page = handler.get_page_num(reply_nums, 20) %}
            {% raw handler.get_avatar(author) %}
            <div class="list-content">
                <p>
                    <a href="/topic/{{ topic['_id'] }}?p={{ last_page }}">{{ topic['title'] }}</a>
                    <a href="/topic/{{ topic['_id'] }}?p={{ last_page }}#reply{{ reply_nums }}" class="badge
                    {% if current_user and current_user['name_lower'] not in topic.get('read', []) %}badge-success{%end%}
                     pull-right">{{ reply_nums }}</a>
                </p>
                <p>
                    由
                    <a href="/member/{{ author['name'] }}">{{ author['name'] }}</a> 发表 |
                    {% if 'last_reply_by' in topic %}
                    由 <a href="/member/{{ topic['last_reply_by'] }}">{{ topic['last_reply_by'] }}</a>
                    回复于 {% raw handler.format_time(topic['last_reply_time']) %} |
                    {% end %}
                    位于 <a href="/node/{{ topic['node'] }}">{{ handler.get_node(topic['node'])['title'] }}</a> 节点
                </p>
            </div>
        </div>
    {% end %}
</div>
{% end %}

{% block sidebar %}
{% if current_user %}
<div class="box" id="current_sidebar">
    <div id="current_base">
        {% raw handler.get_avatar(current_user) %}
        <p><a href="/member/{{ current_user['name'] }}" class="username">{{ current_user['name'] }}</a></p>
        {% if current_user['website'] %}
        <p><a href="{{ current_user['website'] }}" rel="nofollow">{{ current_user['website'] }}</a></p>
        {% end %}
    </div>
    <footer>
        <a href="/account/notifications">
            {{ handler.db.notifications.find({'to': current_user['name_lower'],'read': False}).count() }} 条未读通知
        </a>
    </footer>
</div>
{% end %}
{% end %}