{% extends '../layout.html' %}

{% block description %}{{ topic['title'] }},{{ topic['node'] }},{% set node = handler.get_node(topic['node']) %}{{ node['title'] }}{% end %}
{% block title %}{{ topic['title'] }} | {% end %}

{% block head %}
<script>
function Mention(username, floor) {
    replyContent = $("#reply_content");
	oldContent = replyContent.val();
	prefix = "回复#" + floor + " @" + username + " ";
	newContent = '';
	if(oldContent.length > 0){
	    if (oldContent != prefix) {
	        newContent = oldContent + "\n" + prefix;
	    }
	} else {
	    newContent = prefix
	}
	replyContent.focus();
	replyContent.val(newContent);
}

function CrazyQueue(floor) {
    floorContent = $("#reply" + floor).find("div.reply-content").text();
    replyContent = $("#reply_content");
    oldContent = replyContent.val();
    newContent = "";
    if (oldContent.length > 0) {
        newContent = oldContent + "\n";
    }
    newContent += floorContent;
    replyContent.focus();
    replyContent.val(newContent);
}
</script>
{% end %}

{% block content %}
<div class="box">
    <header>
        {{ topic['title'] }}
    </header>
    <article>
        {% raw topic['content_html'] %}
    </article>
    <footer>
        发表于 {% raw handler.format_time(topic['created']) %}
        {% if 'source' in topic %}
        via {{ topic['source'] }}
        {% end %}
        {% if current_user %}
        <div class="pull-right">
            {% if topic['_id'] not in current_user['like'] %}
                <a href="/topic/{{ topic['_id'] }}/like" class="label label-warning">收藏主题</a>
            {% else %}
                <a href="/topic/{{ topic['_id'] }}/dislike" class="label label-warning">取消收藏</a>
            {% end %}
            {% if current_user['name'] == topic['author'] %}
            <a href="/topic/{{ topic['_id'] }}/append" class="label label-primary">补充内容</a>
            {% end %}
            {% if handler.check_role(return_bool=True) %}
            <a href="/topic/{{ topic['_id'] }}/move" class="label label-info">移动主题</a>
            <a href="/topic/{{ topic['_id'] }}/remove" class="label label-danger">删除主题</a>
            {% end %}
        </div>
        {% end %}
    </footer>
</div>
{% if topic['appended_content'] %}
<div class="box subtle">
    <header>有 {{ len(topic['appended_content']) }} 条附言</header>
    {% for content in topic['appended_content'] %}
        <div class="list">
            <article>{{ content }}</article>
        </div>
    {% end %}
    最后补充于 {% raw handler.format_time(topic['appended']) %}
</div>
{% end %}
{% if replies_count %}
<div class="box">
    <header>回复</header>
    {% set replies_per_page = 20 %}
    {% for reply in replies[(p-1)*replies_per_page:p*replies_per_page] %}
    {% set author = handler.get_user(reply['author']) %}
    <div class="list" name="reply{{ reply['index'] }}" id="reply{{ reply['index'] }}">
        {% raw handler.get_avatar(author) %}
        <p>
            {% if current_user %}
            {% set username = author['name'] %}
            {% set floor_number = reply['index'] %}
            <div class="pull-right">
                <a onclick="CrazyQueue('{{ floor_number }}')" href="#reply_content" class="reply">队形</a>
                <a onclick="Mention('{{ username }}', '{{ floor_number }}')" href="#reply_content" class="reply">@</a>
                <span class="reply-index">#{{ reply['index'] }}</span>
            </div>
            {% end %}
            <a class="reply-author" href="/member/{{ author['name'] }}" class="reply_user">{{ author['name'] }}</a>
            | {% raw handler.format_time(reply['created']) %}
            {% if 'source' in reply %}
            | via {{ reply['source'] }}
            {% end %}
        </p>
        <div class="reply-content">{% raw reply['content_html'] %}</div>
    </div>
    {% end %}
    {% set base_url = "/topic/%s" % topic['_id'] %}
    <ul class="pager">
    {% if p > 1 %}
    <li class="previous">
        <a href="{{ base_url }}?p={{p-1}}">&lt;&lt; 上一页</a>
    </li>
    {% end %}
    {% if p*20 < replies_count %}
    <li class="next">
        <a href="{{ base_url }}?p={{p+1}}">下一页 &gt;&gt;</a>
    </li>
    {% end %}
    </ul>
</div>
{% end %}

{% if current_user %}
{% if handler.check_role(role_min = 1, return_bool = True) %}
<div class="box">
    <form action="/topic/{{ topic['_id'] }}/reply" method="post">
        {% raw xsrf_form_html() %}
        <div class="form-group">
            <textarea class="form-control" rows="5" id="reply_content" name="content" required></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">回复</button>
        </div>
    </form>
</div>
{% end %}
{% end %}
{% end %}

{% block sidebar %}
<div class="box author_box">
    <header>作者</header>
    {% raw handler.get_avatar(handler.get_user(topic['author'])) %}
    <p><a href="/member/{{ topic['author'] }}" class="username">{{ topic['author'] }}</a></p>
    {% if handler.get_user(topic['author'])['website'] %}
    <p><a href="{{ handler.get_user(topic['author'])['website'] }}" rel="nofollow">{{ handler.get_user(topic['author'])['website'] }}</a></p>
    {% else %}
    <br />
    {% end %}
    {% if handler.get_user(topic['author'])['description'] %}
    <footer>{% raw handler.get_user(topic['author'])['description'] %}</footer>
    {% end %}
</div>
<div class="box">
    <header>{{ handler.get_node(topic['node'])['title'] }}</header>
    <article><p>{{ handler.get_node(topic['node'])['description'] }}</p></article>
    <footer>
        <a href="/node/{{ handler.get_node(topic['node'])['name'] }}" class="btn btn-primary">浏览节点</a>
        {% if current_user %}
        <a href="/topic/create?node={{ handler.get_node(topic['node'])['name'] }}" class="btn btn-warning">新建主题</a>
        {% end %}
    </footer>
</div>
{% raw handler.get_node(topic['node'])['html'] %}
{% if handler.check_role(return_bool=True) %}
<div class="box">
    <header>仪表盘</header>
    <a href="/node/{{ handler.get_node(topic['node'])['name'] }}/edit" class="btn btn-primary">编辑节点</a>
    <a href="/node/add" class="btn btn-warning">添加节点</a>
    <a href="/node/{{ handler.get_node(topic['node'])['name'] }}/remove" class="btn btn-danger">删除节点</a>
</div>
{% end %}
{% end %}

